SECRET_KEY = 'django-secret-key'

# Global variables
ENV = 'development'                     # production / development
PROJECT_PATH = 'path-to-project-root'

# Development variables
DEBUG = True                            # danielfajtcom/settings.py
ALLOWED_HOSTS = []                      # danielfajtcom/settings.py
TAILWIND_FILE = 'tailwind-dev.css'      # templates/base/base.html via main:context_processor.py
DATABASE = {}                           # danielfajtcom/settings.py

# Production variables
if ENV == 'production':
    DEBUG = False
    ALLOWED_HOSTS = ['localhost', '127.0.0.1']
    TAILWIND_FILE = 'tailwind-production.css'
    DATABASE = {}
