# As the project uses Tailwind CSS, it's important to generate purged CSS file before commit.
# tailwind/tailwind.config.js purge true/false and run "npm run build/dev" >
# Development: 'static/css/tailwind-dev.css'
# Production: "static/css/tailwind-production.css"

# Collect staticfiles

ENV = 'production'  # production / development

# danielfajtcom/settings.py
SECRET_KEY = 'some-secret-key'
DEBUG = False
ALLOWED_HOSTS = ['danielfajt.com']