{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <div class="flex justify-center items-center h-full bg-gray-400 bg-cover bg-no-repeat bg-opacity-70 filtered bg-center"
         style="background-image: url({% static 'images/projects/bg-projects.jpg' %})">

        {# PROJECTS FLEX #}
        <div class="flex flex-wrap">
            {% for project in projects %}
                {% include 'projects/project_card.html' with project=project %}
            {% empty %}
                <h1>I've definitely did some, but who knows why they're not loading from database</h1>
            {% endfor %}
        </div>


    </div>






{% endblock %}
