{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% include 'base/subbar.html' with title="Pangea" %}
    <div class="flex flex-col justify-center items-center w-full">
        {# 1th BLOCK #}
        <div class="flex flex-col justify-evenly items-center w-full bg-gray-200 md:flex-row">
            <div class="p-8">
                <img class="w-96" src="{% static 'images/projects/pangea_discovery.png' %}"
                     alt="Pangea network discovery">
            </div>
            <div>
                <ul class="text-2xl space-y-4 p-8">
                    <li>ISP network discovery</li>
                    <li>Scan over 800.000 host IP addresses in less then 7 hours</li>
                    <li>Python multiprocessing library using 16 cores server</li>
                    <li>Identify device, determine communication driver</li>
                    <li>Gather metadata, download configurations</li>
                </ul>
            </div>
        </div>
        {# 2th BLOCK #}
        <div class="flex flex-col justify-evenly items-center w-full bg-gray-800 text-gray-300 md:flex-row">
            <div>
                <ul class="text-2xl space-y-4 p-8">
                    <li>ISP network discovery</li>
                    <li>Scan over 800.000 host IP addresses in less then 7 hours</li>
                    <li>Python multiprocessing library using 16 cores server</li>
                    <li>Identify device, determine communication driver</li>
                    <li>Gather metadata, download configurations</li>
                </ul>
            </div>
            <div class="p-8">
                <img class="w-96" src="{% static 'images/projects/pangea_pair_and_sync.png' %}"
                     alt="Pangea network discovery">
            </div>
        </div>

    </div>

{% endblock %}