{% load static %}

<a href="{{ project.slug }}"
   class="flex flex-wrap flex-1 space-y-4 justify-center items-center sm:space-y-0 sm:space-x-4">

    <div class="flex flex-col justify-evenly m-4 items-center rounded shadow-xl overflow-hidden text-gray-800  border-yellow-600 border-4 cursor-pointer w-80 h-80 opacity-80 hover:opacity-100 bg-scroll">
        {# THUMBNAIL #}
        <div class="flex w-full justify-center items-center">
            <img class="w-80 h-40" src="{% static "images/projects/"|add:project.thumbnail %}"
                 alt="{{ project.name }}">
        </div>
        {# NAME #}
        <div class="bg-gray-800 text-gray-200 w-full text-center border-yellow-600 border-t-4 border-b-2 p-1  ">
            {{ project.name }}
        </div>
        {# DESCRIPTION #}
        <div class="flex w-full h-full text-center justify-center items-center bg-gray-200 overflow-hidden p-2 w-1/2 ">
            {{ project.description }}
        </div>
        {# TAGS #}
        <div class="bg-gray-300 w-full flex flex-wrap justify-center space-x-2">
            {% for tag in project.stack %}
                <p>
                    {{ tag }}
                    {% if not forloop.last %}
                        •
                    {% endif %}
                </p>
            {% endfor %}
        </div>
    </div>

</a>