{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% include 'base/subbar.html' with title="Guest house U Bileho konika" %}

    <div class="flex flex-col-reverse gap-4 justify-center bg-gray-600 text-gray-800 lg:flex-row">
        {# Source code like design #}
        <div class="flex md:w-1/2 justify-center items-center">
            <ul class="text-left text-3xl space-y-4 font-semibold">
                <li class="text-pink-400 ">{</li>
                <li class="text-pink-400 pl-4">pension website:</li>
                <li class="text-yellow-400 pl-8">features: <span class="text-green-400">[</span></li>
                <li class="text-green-400 pl-12">admin section,</li>
                <li class="text-green-400 pl-12">internationalization ]</li>
                <li class="text-green-400 pl-8"> ],</li>
                <li class="text-yellow-400 pl-8">check it out: <span class="text-green-400">[</span></li>
                <li class="text-red-400 pl-12 hover:underline">
                    <a href="#" target="_blank">www.ubilehokonika.cz</a>, {# don't delete that comma! #}
                </li>
                <li class="text-red-400 pl-12 hover:underline">
                    <a href="https://github.com/dantw9/u-bileho-konika" target="_blank">github.com</a>
                </li>
                <li class="text-green-400 pl-8"> ]</li>
                <li class="text-pink-400">}</li>
            </ul>
        </div>
        {# Image #}
        <div> {# TODO Edit image to fit LG size exactly! #}
            <img class="opacity-70 object-cover" src="{% static 'images/projects/ubilehokonika_page_code.png' %}"
                 alt="U Bileho Konika">
        </div>
    </div>
{% endblock %}