{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>danielfajt.com</title>

    {# TAILWIND CSS #}
    <link rel="stylesheet" href="{% static "css/tailwind-dev.css" %}">
</head>

<body>
    {# FIXED NAVBAR #}
    {% include 'base/navbar.html' %}
    <div class="bg-gray-100 w-full">
        {# EMPTY DIV - UNDERLAYING SPACE OF FIXED NAVBAR #}
        <div class="h-16"></div>
        {# CONTENT #}
        <div>
            {% block content %}
            {% endblock %}
        </div>
        {# FOOTER #}
        <div class="w-full">
            {% include 'base/footer.html' %}
        </div>
    </div>
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
</body>

</html>