{% load static %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# TITLE #}
    <title>danielfajt.com</title>
    {# FAVICON #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {# TAILWIND CSS #}
    <link rel="stylesheet" href="{% static "css/"|add:tailwind_file %}">
</head>

<body class="bg-gray-300 w-full h-full">
{# FIXED NAVBAR #}
<nav>
    {% include 'base/navbar.html' %}
</nav>

<div class="flex flex-col h-screen">
    {# EMPTY DIV - UNDERLAYING SPACE OF FIXED NAVBAR #}
    {# It has to be DIV in DIV like this. Otherwise, because body is FLEX, the h-16 is ignored here #}
    <div>
        <div class="h-16"></div>
    </div>
    {# CONTENT #}
    <main class="flex-1">
        {% block content %}
        {% endblock %}
    </main>
    {# FOOTER #}
    <footer>
        {% include 'base/footer.html' %}
    </footer>
</div>

<script type="text/javascript" src="{% static "js/app.js" %}"></script>
</body>

</html>